AIRFLOW_UID={id -u} # run command to get id
AIRFLOW_SECRET_KEY=your_secret_key_here
AIRFLOW_FERNET_KEY=your_secret_key_here
# export MLFLOW_TRACKING_URI=http://localhost:5000
export MLFLOW_TRACKING_URI=http://localhost:5000
export MLFLOW_ARTIFACT_ROOT=./mlflow_artifacts
export MLFLOW_ARTIFACT_URI=http://localhost:5000
# MODEL_SERVE_MODE=mlflow
MODEL_SERVE_MODE=local
MLFLOW_EXPERIMENT_NAME=fake-job-detector-exp
export MLFLOW_PYTHON_BIN=/usr/bin/python3
MLFLOW_SERVE_URL=http://mlflow_model:5001/invocations
PSI_THRESHOLD=0.2

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=hello@example.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=hello@example.com # email corresponding to the above password 
ALERT_EMAIL=me22b176@smail.iitm.ac.in # replace with your email
