AIRFLOW_SECRET_KEY=your_secret_key_here
AIRFLOW_FERNET_KEY=your_secret_key_here
# export MLFLOW_TRACKING_URI=http://localhost:5000
export MLFLOW_TRACKING_URI=http://localhost:5000
export MLFLOW_ARTIFACT_ROOT=./mlflow_artifacts
export MLFLOW_ARTIFACT_URI=http://localhost:5000
# MODEL_SERVE_MODE=mlflow
MODEL_SERVE_MODE=local
MLFLOW_EXPERIMENT_NAME=fake-job-detector-exp
export MLFLOW_PYTHON_BIN=/usr/bin/python3
MLFLOW_SERVE_URL=http://mlflow_model:5001/
PSI_THRESHOLD=0.2

SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=api
SMTP_PASSWORD=your_mailtrap_api_key
SMTP_FROM=hello@demomailtrap.co
ALERT_TO_EMAIL=me22b176@smail.iitm.ac.in