# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

todo.md
.venv/
.env
mlflow_artifacts/
monitoring/alertmanager.yml
*.zip
data/raw/inference_labeled.csv
data/raw/fake_job_postings_retrain.csv
data/**/*.bak